doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    link(rel="stylesheet", href="/public/css/fondoCont.css")
    link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Document
  body(background="/images/bioquimica-1920x1280.jpg")
    .row
      .col-3  
      .col-4
        figure.text-center
          blockquote
            h3 USUARIOS
          blockquote
          figcaption.blockquote-footer  Editar contraseña de  <cite title="Source Title">USUARIO</cite>
        figure
            form.row.g-3(action="/editar-pass", method="post")
                .col-12
                    label(for="inputAddress" class="form-label") Usuario
                    input(type="text" class="form-control" disabled  name="usuario"  required value= user.usuario)
                .col-12
                    label(for="inputAddress" class="form-label") Contraseña
                    input(type="password" class="form-control" name="password" required )  
                .col-12
                    button(type="submit" class="btn btn-info") Enviar 