doctype html
html
  head
    link(rel="stylesheet", href="/css/style.css")
    title Carga de Pacientes
  body
    h1 Carga de Pacientes

    form(action="/cargar-paciente", method="post")
      label(for="dni") DNI:
      input(type="text", name="dni", required)

      label(for="apellido") Apellido:
      input(type="text", name="apellido", required)

      label(for="nombre") Nombre:
      input(type="text", name="nombre", required)

      label(for="sexo") Sexo:
      select(name="sexo")
        option(value="masculino") Masculino
        option(value="femenino") Femenino

      label(for="fecha_nac") Fecha de Nacimiento:
      input(type="date", name="fecha_nac", required)

      label(for="ciudad_nac") Ciudad de Nacimiento:
      input(type="text", name="ciudad_nac", required)

      label(for="pais_nac") País de Nacimiento:
      input(type="text", name="pais_nac", required)

      label(for="embarazada") Embarazada:
      input(type="checkbox", name="embarazada")

      label(for="pre_diagnostico") Pre-diagnóstico:
      input(type="text", name="pre_diagnostico")

      label(for="patolog_prev") Patología Previa:
      input(type="text", name="patolog_prev")

      label(for="tipo_usuario") Tipo de Usuario:
      select(name="tipo_usuario")
        option(value="administrador") Administrador
        option(value="tecnico") Tecnico
        option(value="bioquimico") Bioquimico
        option(value="paciente") paciente 

      label(for="email") Correo Electrónico:
      input(type="email", name="email")

      label(for="telefono") Teléfono:
      input(type="text", name="telefono")

      button(type="submit") Cargar Paciente