html(lang="en")
  head
    meta(charset="UTF-8")
    link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css", rel="stylesheet", integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC", crossorigin="anonymous")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Determinaciones
  body
    header
      h3.text-center Determinaciones
      .row
       .col-5
          figure.text-center
            blockquote.blockquote
              h5.blockquote-title Determinación
            figcaption.blockquote-footer
              AGREGAR NUEVA DETERMINACION A UNA TIPO DE EXAMEN
            form.row.g-3(action="/cargar-determinacion", method="post")
              .col-md-12
                label.form-label(for="inputState") Examen
                select#examenes.form-select                
              .col-12
                label.form-label(for="inputAddress") Nombre de la determinación
                input(type="text", class="form-control", id="inputAddress", placeholder="Ejemplo: glucosa")
              .col-md-6
                label.form-label(for="inputEmail4") Unidad de medida a utilizar
                input(type="text", class="form-control", id="inputEmail4")
              .col-8
                button.btn.btn-info(type="submit") Enviar
              .col-12
                button.btn.btn-info(type="submit") Volver al menú principal
  script(src="/script/jsDeterminaciones.js")