doctype html
html(lang="en")
  head
    title Etiquetas
    link(rel="stylesheet", href="/public/css/.css")
  body
    .etiqueta
      | Número de Orden: #{datos.numeroOrden}
      br
      | Paciente: #{datos.nombrePaciente}
      br
      | Fecha: #{datos.fecha}