doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/css/style.css")
        title Document
    body 
        h1 Laboratorio 
        nav 
           ul 
             li 
                a(href="/orden") Generar Orden  
             li 
                a(href="/editar/34877193?") Editar Paciente  
             li 
                a(href="/cargarPaciente") Cargar Nuevo Paciente 
             li 
                a(href="/orden") Generar Orden    