body{
    text-align: center;
    background-color:antiquewhite;
    align-items: center;
    
}

.h1{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: xx-large;
    
}